pre { word-wrap: break-word; }

code  {
  @include rem(padding, $half-spacing-unit);
  // color: $colour-code;
  // background-color: $colour-code-background;
}
pre, .code {
  // color: $colour-pre;
  // background-color: $colour-pre-background;
  @include rem(margin-bottom, $half-spacing-unit);
  @include rem(padding, $half-spacing-unit);
}

pre code, .code code {
  background-color: transparent;
  border: none;
  padding: 0;
}
.code li { list-style-type: decimal-leading-zero; }
