html {
  min-height: 100%;
  font-size: #{($base-font-size / 16px) * 100%};
  font-family: $base-font-family;
  line-height: $line-height-ratio;
  overflow-y: scroll;
}

body {
  background-color: $base-bg-color;
  color: $base-text-color;
}
