/**
 * 1. Address `outline` inconsistency between Chrome and other browsers.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */
a {
  color: $color-main;
  text-decoration: underline;
  word-wrap: break-word;

  &:focus   { outline: thin dotted; /* 1 */ }
  &:hover   { }
  &:active  { }
  &:visited { }

  &:active,
  &:hover { outline: 0; /* 2 */ }
  &:hover,
  &:focus { color: $color-accent; }
}
