ul,
ol,
dl {
  margin-top: 0;
  @include typecssset-rhythm(margin-bottom, 1);
  padding-left: $gutter-unit;
}

ul ul,
ol ol,
dl dl  { margin-bottom: 0; }

ul li,
ol li  { margin-left: $gutter-unit; }

ul     { list-style: disc; }

ol     { list-style: decimal; }

dl dt  { font-weight: bold; }

dl {
  dd {
    margin: 0;
    @include typecssset-rhythm(margin-bottom, 1);
  }

  dd:last-of-type { margin-bottom: 0; }
}
