/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  min-height: 100%;
  font-family: $base-font-family;
  overflow-y: scroll;
  text-size-adjust: 100%; /* 1 */
}

/**
 * 1. Remove default margin.
 */
body {
  margin: 0; /* 1 */
  color: $color-text;
}
