img,
embed,
object,
video { max-width: 100%; }

img {
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

figcaption {
  @include rem(margin-top, $half-spacing-unit);
  @include rem(margin-bottom, $half-spacing-unit);
}
