nav {
  @include typecssset-rhythm(margin-bottom, 1);

  ul {
    margin-left: 0;
    list-style: none;
  }

  li {
    &,
    > a{
      display  :inline-block;
       *display:inline;
      zoom:1;
    }
  }
}
