$base-font-size:   16px!default;
$base-line-height: 22px!default;

$base-font-family:     Helvetica, Arial, sans-serif;
$header-font-family:   $base-font-family;
$base-font-weight:     400;
$semibold-font-weight: 500;
$bold-font-weight:     700;

$base-text-color: #333!default;
$base-bg-color:   #fff!default;

$h1-size: 36px!default; // .alpha
$h2-size: 30px!default; // .beta
$h3-size: 24px!default; // .gamma
$h4-size: 20px!default; // .delta
$h5-size: 16px!default; // .epsilon
$h6-size: 14px!default; // .zeta

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

$gutter-unit: 1%;