@charset "UTF-8";


/*
 * Generic stuff
 */

/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */

/*------------------------------------*\
    #SHARED
\*------------------------------------*/

/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/

/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 * 3. If you have chosen to display a baseline grid, we turn it on here.
 */

html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [2] */
  background-image: url(http://basehold.it/i/24);
  /* [3] */
}

/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Based on normalize.css v2.1.2 | git.io/normalize */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
  display: none;
}

/*
 * Base
 */

/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  text-size-adjust: 100%;
  /* 1 */
}

/**
 * 1. Remove default margin.
 */

body {
  margin: 0;
  /* 1 */
  color: #333333;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}

h4 {
  font-family: Helvetica, Arial, sans-serif;
}

h5 {
  font-family: Helvetica, Arial, sans-serif;
}

h6 {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
.alpha {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
}

h2,
.beta {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3333333;
}

h3,
.gamma {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6;
}

h4,
.delta {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

h5,
.epsilon {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h6,
.zeta {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/**
 * 1. Address `outline` inconsistency between Chrome and other browsers.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 */

a {
  color: #34495e;
  text-decoration: underline;
  word-wrap: break-word;
}

a:focus {
  outline: thin dotted;
  /* 1 */
}

a:active,
a:hover {
  outline: 0;
  /* 2 */
}

a:hover,
a:focus {
  color: #3498db;
}

ins,
mark {
  color: #fff;
}

ins {
  text-decoration: none;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  font-style: italic;
  background: #ff0;
  color: #000;
}

del {
  text-decoration: line-through;
}

/**
 * 1. Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: 700;
  /* 1 */
}

/**
 * 1. Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
  /* 1 */
}

/**
 * 1. Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  /* 1 */
  cursor: help;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

q {
  display: inline;
  content: "\201C" "\201D" "\2018" "\2019";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

cite,
blockquote {
  font-style: italic;
  color: #222f3d;
}

blockquote {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 24px;
  padding: 1.5rem;
  background-color: #e1f0fa;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote cite:before {
  content: "— \0020";
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre,
code,
.code {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding: 12px;
  padding: 0.75rem;
  color: #34495e;
}

pre code,
.code code {
  background-color: transparent;
  border: none;
  padding: 0;
}

.code li {
  list-style-type: decimal-leading-zero;
}

img,
embed,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
  margin: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

figcaption {
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding-left: 1%;
}

ul ul,
ol ol,
dl dl {
  margin-bottom: 0;
}

ul li,
ol li {
  margin-left: 1%;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

dl dd:last-of-type {
  margin-bottom: 0;
}

form {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  margin: 0;
  padding: 12px;
  padding: 0.75rem;
  border: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

label {
  display: block;
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

textarea,
input:not([type="button"]) {
  padding: 12px;
  padding: 0.75rem;
  border: 2px solid #34495e;
  color: #34495e;
  text-indent: 1%;
  border-radius: 2px;
  box-shadow: none;
}

textarea:focus,
input:not([type="button"]):focus {
  border-color: #3498db;
  box-shadow: none;
  outline: none;
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

th {
  padding: 12px;
  padding: 0.75rem;
  text-align: left;
}

td {
  padding: 12px;
  padding: 0.75rem;
  vertical-align: top;
}

/*
 * Objects: layout
 */

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/*
 * Objects: modules
 */

.nav--stacked li {
  display: list-item;
}

.nav--stacked li > a {
  display: block;
}

.nav--banner {
  text-align: center;
}

.nav--block {
  line-height: 1;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;
}

.nav--block > li {
  letter-spacing: normal;
  word-spacing: normal;
}

.nav--block > li > a {
  padding: 12px;
  padding: 0.75rem;
}

.nav--fit {
  display: table;
  width: 100%;
}

.nav--fit > li {
  display: table-cell;
}

.nav--fit > li > a {
  display: block;
}

.form__field {
  position: relative;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5em;
  line-height: 1;
}

.form__input {
  width: 100%;
  padding-left: 6em;
}

/**
 * Image placement variations.
 */

.img--right {
  float: right;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-left: 1%;
}

.img--left {
  float: left;
  margin-right: 1%;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

.btn {
  border: none;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7142857;
}

.btn--main {
  background-color: #1abc9c;
  border-bottom: 3px solid #0e6252;
}

/*
 * Objects: states
 */

/* Clearfix */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Completely remove from the flow and screen readers. */

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Make it visible */

.is-visible {
  display: block !important;
  visibility: visible !important;
}

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.msg--valid {
  color: #1abc9c;
}

.msg--invalid {
  color: #e74c3c;
}

.msg--info {
  color: #34495e;
}

.is-valid {
  border-color: #1abc9c !important;
}

.is-invalid {
  border-color: #e74c3c !important;
}

/*
 * Objects: themes
 */