.btn {
  padding: 0.5714285rem 22px;
  @include typecsset-space(margin-bottom, 0.5);
  border: none;
  @include typecsset-font-size(14px);
  font-weight: $bold-font-weight;
}

.btn--main {
  background-color: $color-light;
  border-bottom: 3px solid darken($color-light, 20%);
}
