.form__hdr { }

.form__field {
  position: relative;
  @include typecsset-space(margin-bottom, 1);
}

// .form__label.inline {
//   display: inline-block;
//   vertical-align: middle;
// }

.form__input {
  width: 100%;
}

.form-inline {
  .form__label {
    display: inline-block;
    vertical-align: middle;
  }
  .form__input {
    width: 90%;
  }
}
