.nav { }

.nav--stacked li {
  display: list-item;

  > a {
    display: block;
  }
}

.nav--banner { text-align: center; }

.nav--block {
  line-height: 1;

  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;

  > li{
    letter-spacing: normal;
    word-spacing: normal;

    > a{ @include typecsset-space(padding, 0.5); }
  }
}

.nav--fit {
  display: table;
  width: 100%;

  > li{
    display: table-cell;

    > a{ display: block; }
  }
}

.nav--justified {
  @include mq() {
    display: flex;
    justify-content: space-between;
  }
}
