pre { word-wrap: break-word; }

pre,
code,
.code {
  margin-top: 0;
  @include rem(margin-bottom, $base-spacing-unit);
  @include rem(padding, $half-spacing-unit);
  color: $color-main;
}

pre code,
.code code {
  background-color: transparent;
  border: none;
  padding: 0;
}

.code li { list-style-type: decimal-leading-zero; }
