$ie: false;
$debug: false;

$base-font-family:     'Open Sans', Helvetica, Arial, sans-serif;
$header-font-family:   $base-font-family;
$base-font-weight:     400;
$semibold-font-weight: 500;
$bold-font-weight:     700;

$color-main:    #34495e!default; // dark
$color-light:   #1abc9c!default; // green
$color-accent:  #3498db!default; // blue
$color-text:    #333!default;    // black
$color-bg:      #fff!default;    // white
$color-valid:   #1abc9c!default;
$color-invalid: #e74c3c!default;

$gutter-unit: 1%;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600);