.btn {
  border: none;
  @include font-size(14px, true);
}

.btn--main {
  background-color: $color-light;
  border-bottom: 3px solid darken($color-light, 20%);
  border-right: 3px solid darken($color-light, 20%);
}
